<div class="edit_project_box">
  <form action="/projects" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="project_id" value="<%= @project.id %>">
    <label>Project Name</label>
    <input type="text" name="name" placeholder="title" value="<%= @project.name  %>">
    <label>Start Date</label>
    <input type="text" name="start_date" placeholder="start_date" value="<%= @project.start_date  %>">
    <label>End Date</label>
    <input type="text" name="end_date" placeholder="end_date" value="<%= @project.end_date  %>">
    <input type="submit" value="edit">
  </form>

  <form action="/tasks" method="POST">
    <input type="submit" value="Add Task">
  </form>

  <a href="/org_sessions/<%= current_org.id  %>">Update Project</a>
</div>

