<div class="event_view_box">
  <p class="bold"><%= event[:name]  %></p>
  <p><%= event[:date] %></p>
  <p><%= event[:start_time] %> - <%= event[:end_time] %></p>
  <p><%= event[:description] %></p>
  <a href="<%= event[:url] %>">Go to Event Page</a>
</div>

