<!-- portal/organizations/show -->

<h2 id="welcome"><%= @organization.name %></h2>
<h3 id="welcome"><%= @organization.code %></h3>


<div class="row organization_account">
  <div class="col-2 org_home_grid"> <!-- Display Members -->
      <h3>Members</h3>
      <form action="">
        <input type="Submit" value="Edit Members">
      </form>
      <ul>
        <% current_org.members.each do |member| %>
          <li><%= member.first_name %> <%= member.last_name %></li>
        <% end %>
      </ul>

  </div>

  <div class="col-5 org_home_grid"> <!-- Display Last 5 Projects -->
    <h3>Projects</h3>
    <form action="projects/new" method="GET" id="new_project_button">
        <input type="Submit" value="Create a Project">
    </form>
    <% current_org.projects.each do |project| %>
      <div id="homepage_project_view">
        <p><%= project.name  %></p>
        <span>Start Date: <%= project.start_date %></span>
        <span class="end_date"><em></em>End Date: <%= project.end_date %></span>
      </div>
    <% end %>

  </div>

  <div class="col-5 org_home_grid">
    <h3>Accountability Processes</h3>
  </div>
</div>












<!-- Accountability Processes -->

